[submodule "language-servers/elixir-ls"]
	path = language-servers/elixir-ls
	url = https://github.com/elixir-lsp/elixir-ls.git
[submodule "language-servers/lua-language-server"]
	path = language-servers/lua-language-server
	url = https://github.com/sumneko/lua-language-server
